on:
  pull_request_review_comment:
    types:
      - created
jobs:
  build:
    if: contains(github.event.comment.body, '/test')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Writerside docs using Docker
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: ${{ env.INSTANCE }}
          artifact: ${{ env.ARTIFACT }}
          docker-version: ${{ env.DOCKER_VERSION }}

#      - name: Upload documentation
#        uses: actions/upload-artifact@v3
#        with:
#          name: docs
#          path: |
#            artifacts/${{ env.ARTIFACT }}
#            artifacts/report.json
#          retention-days: 7
#
#      # Add the step below to upload Algolia indexes
#      - name: Upload algolia-indexes
#        uses: actions/upload-artifact@v3
#        with:
#          name: algolia-indexes
#          path: artifacts/${{ env.ALGOLIA_ARTIFACT }}
#          retention-days: 7

  # Add the job below and artifacts/report.json on Upload documentation step above if you want to fail the build when documentation contains errors
  test:
    # Requires build job results
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v1
        with:
          name: docs
          path: artifacts

      - name: Test documentation
        uses: JetBrains/writerside-checker-action@v1
        with:
          instance: ${{ env.INSTANCE }}